html,
body {
  margin: 0px;
  background-color: #2f424f;
  color: rgb(255, 255, 255);
}

.titulo {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.617);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 25px;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#jugador-cartas,
#computadora-cartas {
  height: 240px;
}
